@import url('https://fonts.cdnfonts.com/css/nimbus-sans-l');

@media screen and (max-width: 600px) {
		.titulo { font-size: 0.7em; }
}
body{
	color: white;
	margin: 0 0 4rem 0;
	padding: 0 0.5rem;
	font-family: 'Nimbus Sans L', sans-serif;
	font-weight: 400;
	font-size: 18px;
	
	
}

a a:link, a:visited, a:active{
	color: white;
	text-decoration: none;
}

#intro {
	margin: 0 auto;
	text-align: left;
	max-width: 55rem;
	font-size: 2.1vh;
}

.navbar ul{
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.navbar li{
	display: inline-block;
}

.navbar a{
	text-decoration: none;
	color: white;
	width: 100px;
	display: block;
	padding: 15px 10px;
	font-size: 1em;
	text-align: center;
}

.navbar a:hover{
	text-decoration: underline;
	font-weight: 700;
}

.estrellas {
	color: #dd6f96;
	font-size: 3em;
	text-align: center;
	margin: auto;
	position: static;
	width: 200px;
	left: 50%;
	right: 50%;
	
}

.estrellas:hover {
	cursor: default;
	color: white;
	
}

.div-fecha {
	margin: 0 auto;
	text-align: left;
	max-width: 55rem;
	font-size: 2.2vh;
	width: 100%;
	
}

.fecha {
	color: red;
	font-weight: 700;
	text-align: left;
}

.update {
	margin-left: 3px;
}

#titulo{
	
	color: #dd6f96;
	font-size: 3.5em;
	position: static;
	width: 470px;
	margin: 0 auto;
	font-family: 'Nimbus Sans L', sans-serif;
	font-weight: 700;
	-webkit-text-stroke: 0.2px black;
	text-shadow: 1.5px 1.5px 1px #e6e6e6; 
	text-align: center;
	
}

#titulo #linktitulo:link, #linktitulo:visited, #linktitulo:active {
	color: #dd6f96;
	text-decoration: none;
}

#subtitulo{
	position: relative; bottom: 55px;
	color: white;
	font-size: 1em;
	font-family: 'Nimbus Sans L', sans-serif;
	font-weight: 400;
	text-align: center;
}
